.breadcrumbs{
  text-transform: uppercase;
  background-color: #FAFAFA;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-size: 12px;
  font-family: Proxima Nova Lt;
  a{
    font-weight: bold;
    color: $text_color;
    margin: 7px;
  }
  .delimiter_broad{
    color: #BDBDBD;
    font-size: 20px;
  }
}

