@font-face {
  font-family: Proxima Nova Lt; /* Имя шрифта */
  src: url("../fonts/ProximaNova-Light.woff");
}
@font-face {
  font-family: Roboto Lt; /* Имя шрифта */
  src: url("../fonts/Roboto-Light.woff");
}

@font-face {
  font-family: Roboto Bd; /* Имя шрифта */
  src: url("../fonts/Roboto-Bold.woff");
}
