::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.03);
}

::-webkit-scrollbar-button { /* 2 - кнопка */
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 2px;
  background-color: rgba(116, 187, 32, 0.61);
  &:hover{
    background-color: $green;
  }
}
